DATABASE_URL=""
JWT_SECRET=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
RESEND_API_KEY=""
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
SENTRY_DSN=""
NEXT_PUBLIC_SENTRY_DSN=""
OTEL_EXPORTER_OTLP_ENDPOINT=""
